@model List<Product>
@{
}

<center>
    <h1>Products</h1>
</center>

<div class="row">

    @foreach (var item in Model)
    {
        <div class="mb-4 col-sm-12 col-md-3" id="card">
            <div class="card h-100">
                <a asp-controller="Products" asp-action="ViewProduct" asp-route-ID="@item.ID">
                    <img src="~/Image/#" class="p-1" style="height: 90%; width: 100%;" />
                </a>
                <p style="border:1px; border-style:solid; border-color:#0094ff;"> </p>

                <center>
                    <b>@item.Name</b>
                    <br />
                    <a class="btn btn-primary" asp-controller="Products" asp-action="ViewProduct" asp-route-ID="@item.ID">View Product</a>
                </center>


            </div>
        </div>
    }
</div>