@model Product
@{
}

<center>
    <h4>@Model.Name</h4>
</center>

<div class="row">
    <div class="col-md-6">
        @{ string Img = Model.Name + ".jpg"; }
        <img src="~/Image/@Img" style="height: 25rem; width: 25rem" />
    </div>

    <div class="col-md-6">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <center>
            <b>Available exemplar: 5</b>
            <br />
            <br />
            <a class="btn btn-primary" asp-controller="Order" asp-action="ConfirmOrder" asp-route-ID="@Model.ID">Borrow</a>
        </center>
    </div>
</div>
<br />
<center>
    <b>Specification</b>
    <p style="border:1px; border-style:solid; border-color:#0094ff;"> </p>
    <b>Description</b>
    <p style="border:1px; border-style:solid; border-color:#0094ff;"> </p>
    <p>@Model.Description</p>
</center>

