@page
@model BorrowStore.Areas.Identity.Pages.Account.Loans.ActiveLoansModel
@{
    Layout = "/Views/Shared/_LoanLayout.cshtml";
}
<h1>Active Loans</h1>
@foreach (var item in Model.activeUserOrderList)
{
    <p>@item.OrderID</p>
    <p>@item.Product</p>
    <p>@item.IsActive</p>
    <hr />
}