@page
@model BorrowStore.Areas.Identity.Pages.Account.Loans.AllLoansModel
@{
    Layout = "/Views/Shared/_LoanLayout.cshtml";
}

<h1>All Loans</h1>
<br />
@foreach (var item in Model.userOrderList)
{
    <div class="row col-md-10">
        <div class="col-md-5">
            <b style="float:left">OrderID</b>
            <b style="float:right">Product</b>
            <br />
            <p style="float:left">@item.OrderID</p>
            <p style="float:right">@item.Product</p>
        </div>

        <div class="col-md-7">
            <b style="float:left">BorrowDate</b>
            <br />
            @if (item.IsActive == true)
            {
                <p style="float:right; color:green">ACTIVE</p>
            }
            else
            {
                <p style="float:right; color:orangered">HANDED IN</p>
            }
            <p style="float:left">@item.BorrowDate</p>
        </div>
    </div>
    <p class="col-md-10" style="border:1px; border-style:solid; border-color:#0094ff;"> </p>
}