@page
@model BorrowStore.Areas.Identity.Pages.Account.Loans.AllLoansModel
@{
    Layout = "/Views/Shared/_LoanLayout.cshtml";
}

<h1>All Loans</h1>
<br />
@foreach (var item in Model.userOrderList)
{
    <p>@item.OrderID @item.Product @item.IsActive</p>
    <p style="border:1px; border-style:solid; border-color:#0094ff;"> </p>
}