@page
@model BorrowStore.Areas.Identity.Pages.Account.Loans.AllLoansModel
@{
    Layout = "/Views/Shared/_LoanLayout.cshtml";
}

<h1>All Loans</h1>
<br />
@foreach (var item in Model.userOrderList)
{
    <p>@item.OrderID</p>
    <p>@item.Product</p>
    <hr />
}