@page
@model BorrowStore.Areas.Identity.Pages.Account.LoansModel
@{
}
<center>
    <h1>Your Loans</h1>
    <br />
    <div class="btn-group-lg" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">All Loans</button>
        <button type="button" class="btn btn-secondary">Active Loans</button>
    </div>
</center>